*
  font-family: 'Roboto', sans-serif

header
  position: relative
  height: 50px
  background-color: #212121

nav
  position: fixed
  width: 100%
  height: 50px
  background-color: #212121
  z-index: 1

.menu
  display: flex
  justify-content: space-between
  padding: 13px 70px
  margin: 0
  list-style-type: none

  .menu_link
    color: #ffffff
    font-size: 15px
    font-weight: 300

  .menu_item
    border-right: 2px dotted black
    padding-right: 28px

.subheader
  position: absolute
  top: 50px
  height: 84px
  width: 100%
  background-color: rgba(0, 0, 0, 0.6)

  .subheader_logo
    display: block
    max-width: 100%
    margin-top: 16px
    color: #ffffff

  .subheader_text
    margin-top: 6px
    opacity: 0.5
    font-size: 13px
    font-weight: 100
    color: #ffffff

  .subheader_call
    margin-top: 19px
    font-size: 12px
    font-weight: 300
    color: #ffffff

  .subheader_phone
    font-size: 22px
    font-weight: 400
    text-transform: uppercase
    color: #ffffff

  .subheader_btn
    margin-top: 19px
    border-radius: 8px
    font-weight: 400
    text-transform: uppercase
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2)
    color: #ffffff
    width: 178px
    height: 52px
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%)
    border: none
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11)

.promo
  padding: 150px 0 135px 0
  min-height: 800px
  background: url("../css/img/promo-bg.jpg") center (center / cover) no-repeat

  .promo_header
    font-size: 60px
    font-weight: 900
    text-transform: uppercase
    color: #ffffff
    text-align: center
    line-height: 60px
    margin: 0

  .promo_subheader
    font-size: 36px
    font-weight: 700
    text-transform: uppercase
    color: #ffffff
    text-align: center
    line-height: 36px
    margin: 0
    margin-top: 22px

  .promo_descr
    font-size: 18px
    line-height: 24px
    font-weight: 400
    color: #ffffff
    text-align: center
    margin-top: 23px

  .promo_btn
    display: block
    margin: 0 auto
    margin-top: 122px
    width: 265px
    height: 69px
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%)
    border: none
    box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11)
    border-radius: 8px
    font-size: 18px
    line-height: 68px
    font-weight: 400
    text-transform: uppercase
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2)
    color: #ffffff

.benefit
  padding: 70px 0 115px 0

.label
  display: block
  margin: 0 auto
  
  width: 112px
  height: 24px
  background-color: #000000
  font-size: 11px
  font-weight: 100
  text-transform: uppercase
  color: #ffffff
  text-align: center
  padding-top: 4px
  &_white 
	  background-color: #ffffff
	  color: black

	  


.title
	margin-top: 38px
	font-size: 38px
	font-weight: 700
	text-transform: uppercase
	color: #222222
	text-align: center
	&_white 
		color: #ffffff


.subtitle 
  margin-top: 19px
  font-size: 17px
  font-weight: 400
  color: #222222
  text-align: center
  &_white 
		color: #ffffff

.benefit
  .benefit_blok
    margin-top: 40px
    display: flex
    justify-content: center
    align-items: center

    .benefit_round
      border-radius: 100%
      width: 113px
      height: 113px
      background-color: #1eacc7
      display: flex
      justify-content: center
      align-items: center

  .benefit_text
    margin-left: 31px
    width: 343px

    .benefit_title
      font-size: 17px
      line-height: 21px
      font-weight: 400
      color: #1eacc7

    .benefit_descr
      line-height: 21px
      margin-top: 7px
      font-size: 15px
      font-weight: 300
      color: #202020
    
.mobile 
	min-height: 864px
	padding: 48px 0 79px 0
	background: url("../css/img/bg-mobile.png") center (center / cover) no-repeat
	.row 
		margin-top: 32px
	&_item 
		position: relative
		width: 320px
		height: 280px
		margin: 0 auto
		margin-bottom: 19px
		&_1
			background: url("../css/img/1.jpg") center (center / cover) no-repeat
		&_2
			background: url("../css/img/2.jpg") center (center / cover) no-repeat
		&_3
			background: url("..//css/img/price.jpg") center (center / cover) no-repeat
		&_4
			background: url("..//css/img/noncash.jpg") center (center / cover) no-repeat
		&_5
			background: url("..//css/img/feedback.jpg") center (center / cover) no-repeat
		&_6
			background: url("..//css/img/fare.jpg") center (center / cover) no-repeat
		&_subtitle 
			font-size: 24px;
			font-weight: 400;
			text-transform: uppercase;
			color: #ffffff;
			text-align: center
			padding-top: 92px
		&_plus
			display: flex
			justify-content: center
			align-items: center
			position: absolute
			bottom: 35px
			left: 50%
			transform: translateX(-50%) 
			width: 26px
			height: 26px
			background-color: #000000
			border-radius: 100%
			margin: 0 auto
			cursor: pointer
.choice
	padding: 0 0 138px 0

.black 
	min-height: 499px
	background-color: #070716
	
	
.white
	height: 397px

 
			
			